<div class="noise"></div>
<div class="noise-underlay bg-grid absolute inset-0 max-h-96 bg-left-top mask-linear-gradient-to-b">
</div>
<div
	class="noise-underlay absolute left-0 top-[28rem] -translate-y-1/2 translate-x-[calc((100vw-1536px)/2)] rounded-full bg-gradient-to-br from-astro-purple to-astro-blue opacity-75 s-[800px] mask-radial-gradient lg:-left-48"
>
</div>
<div
	class="noise-underlay absolute right-0 top-56 -translate-x-[calc((100vw-1536px)/2)] -translate-y-1/2 rounded-full bg-gradient-to-br from-astro-orange to-astro-yellow opacity-60 s-[800px] mask-radial-gradient lg:-right-32"
>
</div>
