<div class="noise"></div>
<div class="noise-underlay bg-grid absolute inset-0 max-h-96 bg-left-top mask-linear-gradient-to-b">
</div>
<div
	class="noise-underlay absolute left-0 top-[28rem] -translate-y-1/2 translate-x-[calc((100vw-1536px)/2)] rounded-full bg-blue-purple-gradient opacity-75 s-[720px] mask-radial-gradient md:-left-48"
>
</div>
<div
	class="noise-underlay absolute right-0 top-56 -translate-x-[calc((100vw-1536px)/2)] -translate-y-1/2 rounded-full bg-orange-yellow-gradient opacity-60 s-[720px] mask-radial-gradient md:-right-32"
>
</div>
