---
import { Icon } from "astro-icon"
---

<section>
	<h1>It&apos;s go time with Astro</h1>
	<section>
		<h2>Let&apos;s get started</h2>
		<p>
			Ready to get started with an Astro project but want to get to building
			right away instead of spend time setting up your local environment?
		</p>
		<p>
			Open any of these templates in your choice of online code editor right in
			your browser, or view the source code in the GitHub repo.
		</p>
		<Icon name="houston-omg" />
	</section>
</section>
