---
import houstonOmg from '../assets/houston_omg.webp';
---

<section class="flex flex-col items-center gap-16 py-16 lg:flex-row">
	<h1 class="heading-2 text-center text-5xl/tight sm:text-6xl/tight lg:text-left">
		It’s go time with Astro
	</h1>
	<div class="rounded-md bg-blue-purple-gradient p-px">
		<section
			class="flex flex-col gap-4 overflow-hidden rounded-md bg-astro-gray-700 px-6 shadow-md lg:flex-row"
		>
			<div class="flex flex-1 flex-col gap-4 py-6 text-astro-gray-200">
				<h2>Get started with a new Astro project!</h2>
				<p>
					Open any of these templates in your choice of online code editor, or view the source code
					on GitHub.
				</p>
			</div>
			<img
				src={houstonOmg.src}
				alt="Astro's mascot, Houston, making an 'omg' face"
				class="-mb-1 self-center lg:self-end"
				width="156"
				height="104"
			/>
		</section>
	</div>
</section>
