<li>
  <article
    class="flex flex-col justify-evenly gap-8 text-center h-full p-8 text-neutral-50 bg-gradient-to-b from-neutral-900 to-primary-900 rounded-lg shadow-inner shadow-black"
  >
    <p>
      Looking to learn more?<br />
      <a
        class="text-secondary-400 font-bold hover:underline"
        href="https://docs.astro.build"
      >
        Check out the Astro docs
      </a>
    </p>
    <p>
      Have questions?<br />
      <a
        class="text-secondary-400 font-bold hover:underline"
        href="https://astro.build/chat"
      >
        Join us on Discord
      </a>
    </p>
  </article>
</li>
