<li>
	<article
		class="flex h-full flex-col justify-evenly gap-8 rounded-lg bg-gradient-to-b from-neutral-900 to-primary-900 p-8 text-center text-neutral-50 shadow-inner shadow-black"
	>
		<p>
			Looking to learn more?<br />
			<a class="font-bold text-secondary-400 hover:underline" href="https://docs.astro.build">
				Check out the Astro docs
			</a>
		</p>
		<p>
			Have questions?<br />
			<a class="font-bold text-secondary-400 hover:underline" href="https://astro.build/chat">
				Join us on Discord
			</a>
		</p>
	</article>
</li>
