---
import Starfield from './Starfield.astro';
---

<div class="relative py-12 lg:py-20">
	<Starfield subtle />
	<section
		class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between gap-5 px-4 sm:gap-10 sm:px-6 lg:gap-16 lg:px-8"
	>
		<h1 class="text-4xl font-extrabold text-neutral-50 sm:text-6xl sm:tracking-tight">
			<slot name="title" />
		</h1>
		<div class="text-neutral-300"><slot /></div>
	</section>
</div>
