---
import Icon from 'astro-icon';
import type { Example } from '../data/examples.ts';

type Props = Pick<Example, 'idxUrl' | 'stackblitzUrl' | 'gitpodUrl' | 'codesandboxUrl'> & {
	menuAlign?: 'left' | 'right';
};

const { idxUrl, stackblitzUrl, gitpodUrl, codesandboxUrl, menuAlign = 'left' } = Astro.props;
---

<div
	class="relative flex h-10 w-max min-w-0 max-w-full divide-x divide-astro-gray-600 rounded-full bg-blue-purple-gradient"
>
	<a
		href={idxUrl}
		target="_blank"
		rel="noopener noreferrer"
		class="flex items-center gap-2 rounded-l-full bg-black/15 px-4 text-sm transition hover:backdrop-brightness-75"
	>
		<Icon name="idx" size={16} aria-hidden="true" /> Open in IDX
	</a>
	<details class="z-10" data-card-options>
		<summary
			class="flex h-full cursor-pointer list-none items-center rounded-r-full bg-black/15 px-2 transition hover:backdrop-brightness-75"
		>
			<span class="sr-only">More options</span>
			<Icon name="chevron-down" size={20} aria-hidden="true" />
		</summary>
		<ul
			class:list={[
				'absolute top-full mt-2 flex w-max flex-col rounded bg-white p-2 text-astro-gray-700 shadow-md',
				menuAlign === 'right' ? 'right-0' : 'left-0',
			]}
		>
			<li>
				<a
					href={stackblitzUrl}
					class="flex flex-row items-center gap-2 rounded-sm px-3 py-2 hover:bg-blue-purple-gradient hover:text-white"
				>
					<Icon name="stackblitz" size={20} aria-hidden="true" /> Open in StackBlitz
				</a>
			</li>
			<li>
				<a
					href={gitpodUrl}
					class="flex flex-row items-center gap-2 rounded-sm px-3 py-2 hover:bg-blue-purple-gradient hover:text-white"
				>
					<Icon name="gitpod" size={20} aria-hidden="true" /> Open in Gitpod
				</a>
			</li>
			<li>
				<a
					href={codesandboxUrl}
					class="flex flex-row items-center gap-2 rounded-sm px-3 py-1.5 hover:bg-blue-purple-gradient hover:text-white"
				>
					<Icon name="codesandbox" size={20} aria-hidden="true" /> Open in CodeSandbox
				</a>
			</li>
		</ul>
	</details>
</div>

<style>
	details summary::-webkit-details-marker {
		display: none;
	}
</style>
