---
export type Props = {
	id: string
	label: string
	default?: boolean
}

const currentTabId = Astro.url.searchParams.get("tab")

const isActive =
	currentTabId === Astro.props.id || (!currentTabId && Astro.props.default)
---

<a
	href={`?tab=${Astro.props.id}`}
	data-active={isActive || undefined}
	class="inline-block rounded-t-lg from-astro-blue/50 to-emerald-300/50 px-4 py-2 text-sm transition hover:backdrop-brightness-50 data-[active]:bg-gradient-to-tr"
>
	{Astro.props.label}
</a>
