---
import { TOP_SECTION } from '../utils/index'
import Card from '../components/Card.astro';
import PageTitle from '../components/PageTitle.astro';

const { examples: groups } = Astro.props;

const pathname = Astro.url.pathname.replace(/\/$/, '');
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
	<link rel="alternate icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>astro.new</title>
</head>

<body>
	<PageTitle as="header">
		<Fragment slot="title">
			<span>astro.new</span>{pathname !== '' && (
				<span class="px-2 font-normal text-secondary-300">/</span>
				<span>{pathname.substring(1)}</span>
			)}
		</Fragment>
	</PageTitle>

	<main class="flex flex-col max-w-screen-xl mx-auto pt-8 px-4 sm:px-6 lg:px-8 sm:pt-12 lg:pt-16">
		<ul class="templates flex flex-col gap-24">
			{groups.map(([category, examples]) => {
				return (
					<li class="flex flex-col gap-8">
						{category !== TOP_SECTION ? <h2 class="text-2xl">{category}</h2> : null}
						<ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6">
							{examples.map((example) => <li><Card {...example} /></li>)}
						</ul>
					</li>
				);
			})}
		</ul>
	</main>
</body>

</html>

<style>
	body {
		@apply bg-neutral-50 text-neutral-900;
	}
</style>